# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing & artifacts
/coverage
/screenshots
/scratch
*.log
error.log

# local env & database
.env
.env*.local
*.db
sqlite.db
sqlite_v2.db

# next.js & production
/.next/
/out/
/build

# misc
.DS_Store
*.pem
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
